.page{
  background-color: #d3d3d3;
  text-align: center;
}
.body {
  background-color: #d3d3d3;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  }
.rightSide {
  height: 500px;
  width: 360px;
  background-color: white;
  display: flex;
  justify-content: center;
}
.leftSide {
  height: flex;
  width: 360px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  height: 125px;
  width: 325px;
  background-color: #d3d3d3;
  text-align: center;

}