.cards {
		width: 300px;
  		border: 10px solid green;
  		padding: 10px;
  		margin: 10px;
  		background: #D3D3D3;
  		display: block;
      
      text-align: center;
  		
	}

	.square {
		width: 260px;
  		border: 0px solid green;
  		padding: 25px;
  		margin: 25px;
  		background: white;
  		display: flex;
  		flex-direction: column;
  		justify-content: flex-start;
  		align-items: center;
      height: 450px;

	}
	.parent {
		background: #D3D3D3;
		display: flex;
	}
	.cardContainer {
		background: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border: 5px solid red;
    align-items: center;
    width: 400px;
    
  }
  .rightSide {
    padding: 30px;

  }
  .body {
    background: #D3D3D3;
    display: flex;
    flex-direction: column;

  }
  .mainContainer{
    display: grid;
    grid-template-columns: auto auto;
    border: 20px red;
  }
  .rightContainer{
    border: 5px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }